<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="component-container">
    <p class="card2">Existem {{ hotels.length }} Hóteis disponíveis.</p>

    <ion-card *ngFor="let hotel of hotels">
      <ion-card-content>
        <div class="product-info">
          <div>
            <h2>{{ hotel.name | uppercase }}</h2>
            <h3>{{ hotel.city }}</h3>
            <div class="address-info">
              <div>{{ getHotelAddress(hotel) }},</div>
              <div>{{ hotel.zip | uppercase }}</div>
            </div>
            <h4>{{ 'Quartos Disponíveis: ' + hotel.number_of_rooms }}</h4>
            <h5>{{ hotel.country | uppercase }}</h5>
            <p class="description">{{ hotel.hotel_description }}</p>
            <ion-button class="details-btn" (click)="viewDetail(hotel.hotel_id)">Detalhes</ion-button>
          </div>
        </div>
        <div class="photo">
          <img [src]="fake_hotel_image">
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- Add your footer content here -->
  </ion-toolbar>
</ion-footer>